<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>For Loop Demonstration</title>
</head>
<body>
    <h1>For Loop Demonstration</h1>
    <table border="1px" align="center">
        <tr>
            <th>Entity</th>
            <th>Value</th>
        </tr>
        {% for key,value in data.items() %}
            <tr>
                <td>
                    {{key}}
                </td>
                <td>
                    {{value}}
                </td>
            </tr>
    
        {% endfor %}
    </table>
    
</body>
</html>
